.container div {
    width: 280px;
    height: 500px;
    background-color: #ffd2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.container .item1 { height: 200px; }
.container .item4 { height: 800px; }
.container .item6 { height: 600px; }
.container .item11 { height: 400px; }
.container2 div {
    width: 280px;
    height: 500px;
    background-color: #ffae95;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.container2 .item1 { height: 200px; }
.container2 .item4 { height: 800px; }
.container2 .item6 { height: 600px; }
.container2.item11 { height: 400px; }

